ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

ul.myMenu > li {
  display: inline-block;
  width: 80px;
  padding: 5px 10px;
  background: #eee;
  border-right: 1px solid;
  text-align: center;
  position: relative;
}
ul.myMenu > li ul.submenu {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
}
ul.myMenu:hover > li ul.submenu {
  display: block;
}
ul.myMenu > li ul.submenu > li {
  display: inline-block;
  width: 80px;
  padding: 5px 10px;
  background: #eee;
  border: 1px solid #eee;
}
ul.myMenu > li ul.submenu > li:hover {
  background: #fff;
}
      .hidden-menu {
        display: flex;
      }

      .nav_menu:hover .nav_overMenu {
        display: block;
      }

      body {
        line-height: 1;
        color: black;
      }

      .nav {
        position: relative;
        padding: 5px 0;
        background-color: #fff;
      }
      .nav:after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #a58e8e;
      }
      .nav:before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #a58e8e;
      }
      .nav .contents {
        position: relative;
        width: 980px;
        margin: 0 auto;
        display: flex;
      }

      .nav .contents h1 {
        display: none;
      }
      .red_border {
        position: absolute;
        width: 100%;
        height: 2px;
        top: 55px;
        color: #fb4357;
        border-bottom: #fb4357 solid 2px;
        z-index: 1;
      }
      .unover-menu {
        display: inline-flex;
        z-index: 10;
        background: none;
        height: 50px;
        align-items: center;
      }
      .unover-menu > li {
        padding: 20px 15px;
        width: 70px;
      }

      .unover-menu > li > h2 > a {
        display: block;
        font-weight: 500;
        font-size: 16px;
        color: #222;
        line-height: 1.5em;
      }
      a {
        text-decoration: none;
      }
      .unover-menu > li > h2 > a:hover {
        text-decoration: underline;
      }
      .unover-menu:hover ul.nav_overMenu {
        display: flex;
      }

      .unover-menu > li > h2 > a strong {
        font-weight: 700;
        color: #fb4357;
      }
      .nav_overMenu {
        display: none;
        margin: 10px 0px 10px 20px;
        padding-right: 45px;
        border-right: #cacaca 1px solid;
      }
      /* .nav_overMenu:before {
        content: "";
        display: block;
        width: 1px;
        height: 250px;
        background-color: #eee;
        opacity: 0.8;
      } */

      .nav_overMenu h3 {
        height: auto;
        margin: 0;
        line-height: 1em;
        text-align: left;
        background-image: none;
      }
      .nav_overMenu a:hover {
        text-decoration: underline;
      }
      .nav_overMenu > li {
        text-align: left;
        padding-top: 5px;
        margin-right: 20px;
      }
      .nav_overMenu > li h2 {
        font-weight: 700;
        font-size: 14px;
        color: #222;
        line-height: 1.429em;
      }
      .nav_overMenu > li h3 {
        font-weight: 400;
        font-size: 14px;
        color: #666;
        line-height: 2.143em;
      }

      .totalSearch_wrap {
        position: absolute;
        top: 12px;
        right: 0;
        display: inline-flex;
        padding: 0 36px 0 10px;
        border: 1px black solid;
      }
      .totalSearch_wrap:before {
        content: "";
        width: 1px;
        height: 20px;
        background-color: #cacaca;
      }
      .totalSearch_wrap:after {
        content: "";
        width: 1px;
        height: 20px;
        background-color: #cacaca;
      }
      .totalSearch_wrap label {
        display: block;
      }
      .totalSearch_wrap label input[type="text"] {
        width: 180px;
        height: auto;
        padding: 0 0 0 7px;
        font-size: 16px;
        color: #222;
        line-height: 1.5em;
        border: none;
      }
      .totalSearch_wrap .btn_totalSearch {
        display: block;
        width: 26px;
        height: 26px;
        font-size: 0;
        line-height: 0;
        background: transparent url("./../images/common/ico/search.png") center
          center/26px scroll no-repeat;
      }

      .totalSearch_wrap.active .totalSearchAutocomplete_wrap {
        display: block;
      }
      .nav.active .nav_overMenu {
        display: block;
      }
  
