@charset "UTF-8";
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

      * {
        margin: 0;
      }

      footer {
        font-family: "Noto Sans KR";
        background-color: #f8f8f8;
        padding-left: 10px;
        padding-bottom: 40px;
      }

      #f_container {
        width: 980px;
        margin: 0 auto;
      }
      #f_container nav ul {
        margin: 0 10px;
        padding: 23px 0;
      }

      #f_container nav li {
        list-style: none;
        display: inline-block;
        line-height: 1.462em;
        text-align: center;
      }

      #f_container li > a {
        text-decoration: none;
        color: #666;
        font-weight: 1000;
        font-size: 13px;
        padding-left: 20px;
      }

      #f_container div > nav {
        text-align: center;
      }

      #f_container dt {
        float: left;
        padding-right: 5px;
      }

      #f_container dd {
        float: left;
        display: block;
        padding-right: 5px;
      }

      #information {
        margin: 0 30px;
        padding: 23px 0;
        list-style: none;
        font-size: 13px;
        color: #666;
        padding-left: 120px;
      }

      #f_container address {
        font-style: normal;
      }

      #check {
        color: #666;
      }

      #f_container hr {
        border-top: 1px;
      }

      #personal {
        color: #222;
        text-decoration: underline;
      }

      #f_container form {
        float: right;
      }

      #f_container form > select {
        background-color: transparent;
        width: 200px;
        height: 34px;
        color: #666;
        border: 1px solid #b4b3aa;
        font-family: "Noto Sans KR";
      }

      #f_container button {
        width: 36px;
        height: 34px;
        font-size: 14px;
        color: #fff;
        background-color: #9e9e9e;
        border: 1px solid #b4b3aa;
        font-family: "Noto Sans KR";
      }
  