@charset "utf-8";

/* 영화차트 광고 */
.chart-ad{ width:189px; height:414px; padding:2px 4px; /*border:3px solid #070707;*/ background:#212120;}
.chart-ad .box-com{ padding:13px 14px 12px; border:1px solid #070707; background:#222221;}
.chart-ad img{ padding-left:15px}
.chart_ad_desc {width:160px;margin:0 auto;padding:16px 0 0 0}
.chart_ad_desc span {color:#fdfcf0}
.chart_ad_desc img {margin:0;padding:0}
.chart_ad_desc dt {margin-bottom:7px;font-size:0}
.chart_ad_desc dt span {font-weight:500;font-size:14px;letter-spacing:-1px;vertical-align:middle;padding-left:4px}
.chart_ad_desc dd {border-top:3px solid #fdfcf0;border-bottom:3px solid #fdfcf0;letter-spacing:-1px}
.chart_ad_desc dd span {font-size:14px;line-height:28px;height:28px;letter-spacing:-1px}
.box-contents > a{ display:block;}
.box-btn{ text-align:center;}

/* 포스터 */
.box-image a{ display:block;}
.box-image img{ width:100%;}
.thumb-image{ display:block; position:relative;}
.thumb-image .cgvIcon.etc{position:absolute; left:5px; top:5px}

/* 라운드박스 */
.round , .round > *{ display:inline-block; position:relative;  }
.round {line-height:23px; font-weight:500; font-size:12px; text-align:center; vertical-align:middle;}
.round.gray{ border:2px solid #7b7b7b; color:#7b7b7b; }

/* 예매링크 */
.link-reservation{ display:inline-block; width:91px; height:35px; background:url('https://img.cgv.co.kr/R2014/images/sprite/sprite_preegg.png') 0 0 no-repeat;font:0/0 a;zoom:1; vertical-align:top;}

/* text */
.dday{display:inline-block; margin-left:5px; color:#fb4357; font-size:12px; font-family:Verdana, Geneva, sans-serif; font-weight:bold;}
.txt-info{ display:block; color:#999999; font-size:12px;}
.txt-info > strong {font-size:11px;}
.txt-info > em{ display:block;}
.title{ display:block; color:#333333; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.score{ font-size:11px; }
.score .percent span{ color:#333333; font-size:12px; font-weight:normal; font-family:Verdana, Geneva, sans-serif; vertical-align:-1px;}
.score .count{ color:#666666;font-weight:500; font-size:13px;}
.spec{ color:#333333; font-size:13px; font-weight:500;}

/* 영화차트 리스트 */
[class|="sect"][class*="chart"]{ position:relative; overflow:hidden; }
[class|="sect"][class*="chart"] > ol{ padding-top:30px; margin-left:-64px; zoom:1;}
[class|="sect"][class*="chart"] > ol:after{ content:''; clear:both; display:block;}
[class|="sect"][class*="chart"] > h4{ margin-top:30px; color:#222222; font-size:21px; font-weight:500;}
[class|="sect"][class*="chart"] > h4 + ol{ padding-top:20px;}
[class|="sect"][class*="chart"] > h3:first-child + ol, [class|="sect"][class*="chart"] > h4:first-child + ol{ padding-top:0;}
[class|="sect"][class*="chart"] > h3:first-child + ol .rank, [class|="sect"][class*="chart"] > h4:first-child + ol .rank,  [class|="sect"][class*="chart"] > .spec + ol .rank{ background:#fb4357;} 
[class|="sect"][class*="chart"] > h3{ margin-top:30px; color:#222222; font-size:21px; font-weight:500;}
[class|="sect"][class*="chart"] > h3 + ol{ padding-top:20px;}
[class|="sect"][class*="chart"] > ol > li{ float:left; width:197px; margin-left:64px; padding-bottom:30px;}
[class|="sect"][class*="chart"] > h4 + ol > li:first-child .title, [class|="sect"][class*="chart"] > h3 + ol > li:first-child .title{ width:90%;}
[class|="sect"][class*="chart"] .chart-ad{ position:absolute; right:0; top:0;}
[class|="sect"][class*="chart"] .btn-more-fontbold{ float:right; margin-top:10px;}
[class|="sect"][class*="chart"] .box-image{ position:relative; width:197px; min-height:272px; margin-bottom:10px; }
/* [class|="sect"][class*="chart"] .thumb-image{  border: 6px solid #000000;} */
[class|="sect"][class*="chart"] .thumb-image > img{height:260px;}
[class|="sect"][class*="chart"] .screentype{ position:absolute; left:0; bottom:0; width:100%; height:29px; padding-top:27px; background:url('../images/common/bg/bg_poster-gradation.png') 0 0 repeat-x; text-align:center;}
[class|="sect"][class*="chart"] .screentype a, [class|="sect"][class*="chart"] .screentype span{ width:59px; height:20px; text-align:center; vertical-align:top;}
[class|="sect"][class*="chart"] .screentype .imax{ background-position:0 -780px;}
[class|="sect"][class*="chart"] .screentype .threeD{ background-position:0 -800px;}
[class|="sect"][class*="chart"] .screentype .forDX{ background-position:0 -820px;}
[class|="sect"][class*="chart"] .screentype .soundX{ background-position:0 -840px;}
[class|="sect"][class*="chart"] .screentype .arthouse{ background-position:0 -860px;}
[class|="sect"][class*="chart"] .screentype .collage{ background-position:0 -860px;}
[class|="sect"][class*="chart"] .screentype .screenx{ background-position:0 -880px;}
[class|="sect"][class*="chart"] .screentype .gold{ background-position:0 -900px;}
[class|="sect"][class*="chart"] .screentype .cine{ background-position:0 -920px;}

[class|="sect"][class*="chart"] .rank{ display:block; height:28px; margin-bottom:4px; /*border: 6px solid #000000;*/  background:#333333; color:#ffffff; font-size:19px; text-align:center; line-height:28px;}
[class|="sect"][class*="chart"] .rank.on{ background:#fb4357;}
[class|="sect"][class*="chart"] .no1{ position:absolute; right:-15px; bottom:-45px; display:block; width:48px; height:74px; background:url('../images/sprite/sprite_icon.png') -300px -20px no-repeat; font:0/0 a;zoom:1; z-index:1; } 

[class|="sect"][class*="chart"] .title{ font-size:15px; }
[class|="sect"][class*="chart"] .score{ margin-top:7px;}
[class|="sect"][class*="chart"] .score .percent span{ display:inline-block; margin-left:10px; vertical-align:top;}
[class|="sect"][class*="chart"] .point{ margin-left:2px; padding-left:6px; background:url('../images/common/bg/bg_writeinfo.gif') left 1px no-repeat }
[class|="sect"][class*="chart"] .point li{ margin-left:2px;}
[class|="sect"][class*="chart"] .txt-info{ margin-top:3px; height:13px; color:#666666; font-weight:500; white-space:nowrap;}
[class|="sect"][class*="chart"] .like{ display:block; margin-top:10px; /*text-align:center;*/}
[class|="sect"][class*="chart"] .btn-like{ width:23px; height:23px; background-position:-60px -66px;}
[class|="sect"][class*="chart"] .btn-like.on { background-position:-83px -66px; }
[class|="sect"][class*="chart"] .count{ height:25px;line-height:23px; vertical-align:middle;}
[class|="sect"][class*="chart"] .count strong{ padding:0 4px;}
[class|="sect"][class*="chart"] .count .corner-arrow{ left:-3px; top:50%; width:4px; height:6px; margin-top:-4px; background-position:-10px 0; background-color:#ffffff;}
[class|="sect"][class*="chart"] .link-reservation{ width: 97px; height: 25px; background-position: 0px -110px; margin: 3px;}
[class|="sect"][class*="chart"] .dday{ display:inline-block;}
[class|="sect"][class*="chart"] .warp-chart-ad{ position:absolute; right:0; top:0;}
[class|="sect"][class*="chart"] .spec{ padding:20px 22px; background:#f5f3e8; line-height:1.8;}
[class|="sect"][class*="chart"] .spec dt{ width:90px; padding-left:6px; background:url('../images/common/bg/blit.gif') 0 7px no-repeat;}
[class|="sect"][class*="chart"] .spec dd{ padding-left:96px;}
[class|="sect"][class*="chart"] .sort{ margin:40px 0 20px; text-align:center;}

/* [class|="sect"][class*="chart"] .list-more{} */
[class|="sect"][class*="chart"] .list-more{ padding-top:0px}
[class|="sect"][class*="chart"] .list-more li{  margin:0 0 -3px 0; padding:30px 0 30px 64px}
[class|="sect"][class*="chart"] .list-more li:first-child,
[class|="sect"][class*="chart"] .list-more li:first-child + li,
[class|="sect"][class*="chart"] .list-more li:first-child + li +li,
[class|="sect"][class*="chart"] .list-more li:first-child + li + li + li{ margin-top:0; border-top:none;}
.wrap-movie-chart .box-contents{ height:93px;}

/* 영화 차트 레이아웃 */
/* [class|="wrap-movie"][class*="chart"]{} */
[class|="wrap-movie"][class*="chart"] .tab-menu-line{ margin-top:20px;}
[class|="wrap-movie"][class*="chart"] .sect-movie-chart{ margin-top:30px;}

/* 로그인 */
.box-login{padding:30px 0 0 132px; border-bottom:2px solid #898987; height: 266px;}
.btn_loginNaver{display:inline-block; margin-top:35px;}

/* 모서리 둥근 탭메뉴 */
.tab-menu-round{ clear:both; background:url('../images/common/bg/bg_tabmenu_grade.gif') 0 bottom repeat-x;}
.tab-menu-round:after{ content:''; clear:both; display:block;}
*+html .tab-menu-round{ zoom:1;}
.tab-menu-round > li{ float:left; position:relative; line-height:37px; margin-left:1px; background:#898987; color:#fdfcf0; text-align:center; }
.tab-menu-round > li:before, .tab-menu-round > li:after{content:''; position:absolute; top:0; display:block; width:5px; height:5px; background:url('../images/common/bg/bg_tab_corner.png') no-repeat; }
.tab-menu-round > li:before{ left:0; background-position:0 0; }
.tab-menu-round > li:after{ right:0; background-position:-5px 0; }
.tab-menu-round > li:first-child{ margin-left:0;}
.tab-menu-round > li > a{ display:block; color:#ffffff; font-size:13px; font-weight:500;}
.tab-menu-round > li.on{ background:#fb4357;}
