<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="https://img.cgv.co.kr/theater_img/favicon.ico"
      type="image/x-icon"
    />
    <title>무비차트 &lt; 무비차트 | 영화 그 이상의 감동. CGV</title>
    <script src="../../script/includeHTML.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="../../script/includeHTML.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../../css/reset.css" type="text/css" />
    <link rel="stylesheet" href="../../css/webcontent.css" />
  </head>
  <body>
    <div id="component">
      <div include-html="../component/header.html">
        <script>
          includeHTML();
        </script>
      </div>
      <div include-html="../component/category.html">
        <script>
          includeHTML();
        </script>
      </div>
    </div>

    <div style="clear: both"></div>

    <div include-html="../component/footer.html">
      <script>
        includeHTML();
      </script>
    </div>
  </body>
</html>
